<nav>
  <ul>
    <li><a [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
    <li><a [routerLink]="['/calculadora']" routerLinkActive="active">Calculadora</a></li>
    <li><a [routerLink]="['/readMeGenerator']" routerLinkActive="active">ReadME Generator</a></li>
    <li><a [routerLink]="['/experiments']" routerLinkActive="active">Experiments</a></li>
    <li><a [routerLink]="['/evAndRef']" routerLinkActive="active">Ev and Ref</a></li>
    <li><a [routerLink]="['/fichaAnimal']" routerLinkActive="active">Ficha Animal</a></li>
  </ul>
</nav>
